body {
    background-color: #ffffff;
    color: #000000;
    font-family: arial, sans-serif; 
    }

 a:link{color: #855832;}

 h1 {
    color: #362925;
    font-size: 2em;
 }

 h2, h3, h4 {
    color: #362925;
    font-size: 1em;
 }

 .evenrow {
    background-color: mistyrose;
    }

 nav {
    background-color: #dbc9b8;
    padding: 10px;
    margin-bottom: 30px;
 }

 nav a:hover {
    color: #a17e61;
}

nav a:link {
    color: #74482a;
}

footer p {
    margin: 2px;
}
.tagline {
   float: right;
}

.address {display: flex;}
.address-p1, .address-p2  {flex: 1; background-color: #ffffff; padding: 20px; border-radius: 1em;}
.form {display: flex;}
.form-p1 {flex: 1; background-color: #ffffff; padding: 20px; border-radius: 1em;}
.form-p2 {flex: 2; background-color: #ffffff; padding: 20px; border-radius: 1em;}

.contact {
    background-color: #e9e6e3;
}